/* Tipografías Importadas */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Patua+One);

/* Estilos para el Body */
body {
	font-family: "Open Sans", sans-serif; 
}

/* Estilos para Etiquetas h1 - h6 */
h1, h2, h3 {
	font-family: "Patua One", serif;
}

h4, h5, h6 {
	font-weight: 700;
}

/* Estilos para Etiquetas HTML */

article, #logo  {
	margin: 25px 0;
}

/* Estilos para el Header */
header hgroup {
	margin-top: 100px;
}

header hgroup h1 {
	font-size: 50px;
	line-height: 10px;
}

header hgroup h2 {
	color: #999;
}

/* Estilos para Barra de Navegación */
nav {
	background-color: #333;
	border-radius: 10px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 0 12%;
}

nav a:link, nav a:visited, nav a:hover {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	color: #999;
}

nav a:active  {
	color: #f60;
}

/* Estilos para Sección Principal */
#sec-pri {
	background-color: #ddd;
	border-radius: 20px;
	margin-top: 20px;
	padding: 5px;
}

#sec-pri h2 {
	padding: 5px 0;
}

#sec-pri p {
	padding: 5px 0;
}

#sec-pri a, #sec-not a {
	background-color: #f60;
	border-radius: 5px;
	color: #fff;
	padding: 5px 20px;
}

/* Estilos para Sección Noticias */
#sec-not {
	background-color: #dff;
	border-radius: 20px;
	margin-top: 25px;
	padding: 15px;
}

#sec-not > hgroup {
	margin-bottom: 30px;
	padding: 0 20px;
}

#sec-not h1 span {
	color: #599;
}

#sec-not h3 {
	margin-top: 0;
}

#sec-not article {
	background-color: #fff;
	border-radius: 20px;
	margin-bottom: 15px;
	margin-top: 0px;
	padding: 20px;
}

/* Estilos para Banner Lateral */
#banner-lat {
	padding-right: 0;
}

#banner-lat img {
	margin-top: 25px;
}

/* Estilos para Banner inferior */
#banner-inf img {
	margin-top: 15px;
}

/* Estilos para Formulario de Contacto */
#contacto {
	background: #eee;
	color: #f60;
	border-radius: 15px;
	margin-top: 15px;
	padding-bottom: 20px;
}

#contacto p {
	line-height: 35px;
	margin-top: 60px;
	margin-right: 10px;
	text-align: center;
}

#contacto input {
	border-radius: 10px;
	height: 35px;
	margin-bottom: 10px; 
}

#contacto input[type="submit"] {
	background-color: #f00;
	color: #fff;
	font-weight: 700;
	padding: 0 25px;
}

/* Estilos para el Footer */
footer {
	background-color: #333;
	border-radius: 15px 15px 0 0;
	color: #fff;
	margin-top: 15px;
}

footer article p {
	padding: 0 15px;
}